<!-- This is the default page the user will see when they go to the phygital tool. This page displays 
information about the question list and wether the user wants to continue -->
@using System.Security.Cryptography
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Phygital tool</h1>
    <p>Druk op de knop "ga verder" om in te loggen.</p>
    <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Login">Ga verder</a>
</div>
