@{
    ViewData["Title"] = "Phytical Tree Company";
}

<div class="text-center">
    <h1 class="align-content-center p-4">Verkiezingen</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="images/votingCartoon.jpg" alt="votingCartoon" width="400"/>
            </div>
            <div class="col-6">
                <p align="justify">
                    Deze vragenlijst gaat over de verkiezingen van 2024 en gaat ervoor zorgen dat je beter voorbereid
                    bent om te gaan stemmen. Zo zal je te weten komen welke partijen zich allemaal verkiesbaar hebben
                    gesteld in Vlaanderen, waarvoor ze staan en wat hun visie is. Er zullen verschillende type vragen
                    voorkomen zoals: single choice, multiple choice, open en range. Er zijn geen juiste of foute
                    antwoorden, het enigste dat je moet doen is je mening geven ongeacht wat anderen ervan zouden vinden.
                    De tool is volledig anoniem dus je moet geen schrik hebben.
                </p>
            </div>
        </div>
        <div class="container-fluid p-2">
            <div class="row">
                <h3 class="align-content-center p-3">Bent u geïntresseerd in dit topic ?</h3>
            </div>
            <div class="row align-content-center">
                <div class="col p-2">
                    <button type="button" class="btn btn-warning">Niet geïntresseerd</button>
                </div>
                <div class="col p-2">
                    <button type="button" class="btn btn-warning">Ga verder</button>
                </div>
            </div>
            <img src="images/SenaatPicture.png" alt="SenaatPicture">
        </div>
    </div>
</div>