@using Phygital.Domain.Questionsprocess;
@model IEnumerable<Flow>

@{
    ViewBag.Title = "Phygital";
    Layout = "_Layout";
}

<!-- This page displays some elements to create a theme -->

<!-- TODO: Finish Add Theme -->

<div class="text-center">
    <h3 class="align-content-center p-4">Maak nieuw thema</h3>
    <div class="container-fluid">
        <form class="">
            <div class="d-flex justify-content-center">
                <div class="col-lg-6 text-start">
                    <label for="ThemaInput">Thema</label>
                    <input type="text" class="form-control border border-warning mb-3" id="ThemaInput" placeholder="Naam">
                    <label for="DescriptionArea">Beschrijving</label>
                    <textarea class="form-control border border-warning mb-3" id="DescriptionArea"rows="5"
                    placeholder="Beschrijving..."></textarea>

                </div>
            </div>
            <div class="container-fluid p-2">
                <div class="row align-content-center">
                    <div class="col d-flex justify-content-end">
                        <a onclick="history.back()" type="button" class="btn btn-warning">Annuleer</a>
                    </div>
                    <div class="col d-flex justify-content-start">
                        <a type="button" class="btn btn-warning" id="submitThema" >Maak thema</a>
                        <!-- asp-area="" asp-controller="Project" asp-action="Index" -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Thema/thema.js" defer></script>
}