@import 'bootstrap/scss/bootstrap.scss';
@import 'variables';
@import '_mixins.scss';

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sttable {
  display: block;
  overflow: auto;
  table-layout: fixed;
  max-height: 200px;
}
.sttable th, .sttable td {
  text-align: start;
  width: 100%;
}


/******************* FLOW DETAILS CSS *******************/
.white-text {
  color: #ffffff;
}

/*:root {
  --yellow-color: #ffc107;
}*/

.yellow-color {
  background-color: $yellow-color ; //var(--yellow-color)
}

.spacing-top {
  margin-top: 20px;
}

.center-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-flow-details {
  width: 125px;
  border-radius: 8px;
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 25%;
  cursor: pointer;
  outline: none;

  /*  styling the track  */
  height: 15px;
  background: #ccc;
  border-radius: 16px;

  overflow: hidden;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: $yellow-color;
  box-shadow: -407px 0 0 400px $yellow-color;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid $yellow-color;
  box-shadow: -407px 0 0 400px $yellow-color;
}

/*Clock for the Circular Flow*/
.clock {
  font-size: 2em; /* Adjust the size of the timer text */
  color: #000; /* Adjust the color of the timer text */
  background-color: $yellow-color; /* Adjust the background color of the timer */
  border: 2px solid #000; /* Adjust the border of the timer */
  border-radius: 50%; /* Makes the timer round */
  width: 50px; /* Adjust the width of the timer */
  height: 50px; /* Adjust the height of the timer */
  line-height: 50px; /* Centers the text vertically */
  text-align: center; /* Centers the text horizontally */
  margin: 0 auto; /* Centers the timer horizontally */
}

/******************* STATISTICS CSS *******************/


.nav-pills .nav-link {
  color: #000; /* Change the color of the text */
  background-color: transparent; /* Change the background color of the tab  var(--yellow-color)*/
  border: 2px solid $yellow-color; /* Add a border to the tab */
  border-radius: 5px; /* Add rounded corners to the tab */
  margin-right: 10px; /* Add some space between the tabs */
}

.nav-pills .nav-link:focus, .nav-pills .nav-link:active, .nav-pills .nav-link.active{
  color:#000 ; /* Change the color of the text for the active tab */
  background-color: $yellow-color; /* Change the background color of the active tab */
  border-color: #000; /* Change the border color of the active tab */
}
.nav-pills .nav-link:focus::after, .nav-pills .nav-link:active::after, .nav-pills .nav-link.active::after {
  background-color: transparent; /* Remove the after color */
}

/******************* NEW NAVBAR *******************/

nav {
  background-color: $white-color;
  li{
    color: $grey-color;
    
    &:hover{
      color: $yellow-color;
    }
  }
}


a.nav-link:hover{
  border: 2px solid cornflowerblue;
  text-decoration: none;
  background-color: coral;
}
a.nav-link:active{
  background-color: $yellow-color;
  color: white;
}