@model IEnumerable<Phygital.Domain.Statistics.Statistic>

@{
    ViewBag.Title = "Phygital";
    Layout = "_Layout";
}
<h1>Statistics</h1>

@foreach (var outerItem in Model)
{
<h3>@outerItem.QuestionText</h3>
<table class="table table-hover">
    <thead class="table-active">
    <tr>
        <th>Keuze</th>
        <th>Aantal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var innerItem in outerItem.Answers)
    {
    <tr>
        <td>@innerItem.Key</td>
        <td>@innerItem.Value</td>
    </tr>
    }
    </tbody>
</table>
}
