@using Phygital.UI_MVC.Models.Dto
@model OrganisatieDto

@{
    ViewBag.Title = "Add Organisation";
    Layout = "_Layout";
}

<div class="text-center">
    <h3 class="align-content-center p-4">Maak nieuwe organisatie</h3>
    <div class="container-fluid">
        <form class="">
            <div class="d-flex justify-content-center">
                <div class="col-lg-6 text-start">
                    <label for="orgNameInput">Organisatie</label>
                    <input type="text" class="form-control border border-warning mb-3" id="orgNameInput" placeholder="Naam">
                    <label for="orgDescriptionInput">Beschrijving</label>
                    <textarea class="form-control border border-warning mb-3" id="orgDescriptionInput" rows="5"
                    placeholder="Beschrijving..."></textarea>
                </div>
            </div>
            <div class="container-fluid p-2">
                <div class="row align-content-center">
                    <div class="col d-flex justify-content-end">
                        <a onclick="history.back()" type="button" class="btn btn-warning">Annuleer</a>
                    </div>
                    <div class="col d-flex justify-content-start">
                        <a type="button" class="btn btn-warning" id="submitOrg" asp-controller="Organisatie" asp-action="Index">Maak organisatie</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/dist/organisation.entry.js" defer></script>
}