@model Phygital.UI_MVC.Models.Dto.OrganisatieDto

@{
    ViewBag.Title = "Edit Organisatie";
    Layout = "_Layout";
}


<div>
    <h2>Edit organisatie</h2>
    <form asp-controller="Thema" asp-action="Edit" asp-route-id="@Model.id" method="POST">
        <div class="form-group mb-2">
            <label asp-for="id">Id</label>
            <input asp-for="id" class="form-control" readonly/>
            <span asp-validation-for="id" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row align-content-center py-3">
            <div class="col d-flex justify-content-end">
                <input type="submit" value="Save" class="btn btn-warning"/>
            </div>
            <div class="col d-flex justify-content-start">
                <a asp-action="Index" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </form>
</div>