@using Phygital.Domain.Questionsprocess;
@model IEnumerable<Flow>

@{
    ViewBag.Title = "Phygital";
    Layout = "_Layout";
}

<!-- This page displays some elements to create a flow (name, theme etc) -->

<div class="text-center">
    <h3 class="align-content-center p-4">Make a new project</h3>
    <div class="container-fluid">
        <form class="row">

            <div class="col-6 d-flex justify-content-center">
                <div class="col-lg-6">
                    <h5 class="mb-3">Project</h5>
                    <label>Naam</label>
                    <input type="text" class="form-control border border-warning mb-3" placeholder="Name" id="nameBox">
                    <label>Thema</label>
                    <select type="text" class="form-select border border-warning mb-3" id="ThemaSelect">

                    </select>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div class="col-8 table-responsive">
                    <h5 class="mb-3">Subthemas</h5>
                    <table class="sttable table table-striped ">
                        <thead class="sticky-top bg-white">
                        <tr>
                            <th class="col-8">Thema</th>
                            <th class="col-4">Actief</th>
                        </tr>
                        </thead>
                        <tbody id="SubthemaTable" class="">


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container-fluid p-2">
                <div class="row align-content-center">
                    <div class="col d-flex justify-content-end">
                        <a type="button" class="btn btn-warning">Annuleer</a>
                    </div>
                    <div class="col d-flex justify-content-start">
                        <a type="button" id="addButton" class="btn btn-warning" asp-controller="Flow" asp-action="Index">Maak project</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script src="~/js/Project/project.js" defer></script>
}
