@model Phygital.UI_MVC.Models.Dto.Infos.ImageDto

@{
    ViewBag.Title = "Phygital";
    Layout = "_Layout";
}

<!-- This page displays some elements to create an openquestion -->

<div class="text-center">
    <h3 class="align-content-center p-4">Voeg hier een image toe</h3>
    <div class="container-fluid">
        <form asp-controller="FlowElements" asp-action="AddImage" class="row" enctype="multipart/form-data">
            <div class="col-12 d-flex justify-content-center">
                <div>
                    @*<label asp-for="FlowId">Flow waar het toebehoort</label>
                    <select asp-for="FlowId" asp-items="@(ViewBag.highest)" class="form-control"></select>
                    <span asp-validation-for="FlowId" class="text-danger"></span>*@
                </div>

                <div>
                    <label asp-for="ImageFile" class="input-group-text border border-warning mb-3">Kies een afbeelding</label>
                    <input asp-for="ImageFile" type="file" class="form-control">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script src="" defer></script>
}