@model Phygital.UI_MVC.Models.Dto.Infos.TextDto

@{
    ViewBag.Title = "Phygital";
    Layout = "_Layout";
}

<!-- This page displays some elements to create a text -->

<div>
    <h2 >Voeg hier text toe</h2>
        <form asp-controller="FlowElements" asp-action="AddText" class="row" enctype="multipart/form-data">
            <div class="container-fluid">
                <div class="col-12 d-flex justify-content-center">
                    <input type="hidden" name="flowId" value="@ViewBag.flowId" />
                </div>

                <div class="form-group mb-2">
                    <label asp-for="Title">Titel van de Text:</label>
                    <input class="form-control" asp-for="Title" type="text" name="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <label asp-for="Content">Inhoud Text:</label>
                    <input class="form-control" asp-for="Content" type="text" name="Content">
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <label asp-for="SubTheme">Kies het thema waar je text toebehoord:</label>
                    <select asp-for="SubTheme" asp-items="@(new SelectList(ViewBag.Themes, "Id", "Title"))" class="form-control"></select>
                    <span asp-validation-for="SubTheme" class="text-danger"></span>
                </div>
            </div>
            <div class="row align-content-center py-3 text-center justify-content-center">
                <div class="col d-flex justify-content-center">
                    <input type="submit" value="Add" class="btn btn-warning"/>
                </div>
            </div>
        </form>

</div>


@section Scripts
{
    <script src="" defer></script>
}
