@model dynamic

@{
    ViewBag.Title = "Add flow";
    Layout = "_Layout";
}

<h2>Add flow</h2>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#theme" >Theme & Type</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#questiontab" >Quesitons </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#information" >Information</a>
    </li>
</ul>

<section class="tab-content">
    <section class="container tab-pane fade show active" id="theme"> </section>
</section>