@page
@model Phygital.UI_MVC.Views.Flow.Create

@{
    Layout = null;
}

<!-- This page consist of a couple textboxes to full in the name of the flow and the main theme -->

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>