@using Phygital.Domain.Questionsprocess;
@model Flow

@{
    ViewBag.Title = "Flow Process";
    Layout = "_Layout";
}

<div id="flowId" class="white-text">@Model.Id</div>
<h2 class="text-center">Antwoord op volgende vragen alstublieft</h2>

<div id="carouselExampleControls" class="carousel slide spacing-top" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div id="questions"></div>
    </div>
    <div class="progress">
        <div id="progressBar" class="progress-bar yellow-color" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row">
        <div class="col text-start">
            <button id="prevBtn" class="btn btn-warning btn-flow-details spacing-top" data-bs-target="#carouselExampleControls" data-bs-slide="prev">Terug</button>
        </div>
        <div class="col text-end">
            <button id="nextBtn" class="btn btn-warning btn-flow-details spacing-top" data-bs-target="#carouselExampleControls" data-bs-slide="next">Verder</button>
        </div>
    </div>
</div>
<div class="text-center">
        <a asp-controller="Endpage" asp-action="Index" class="btn btn-warning btn-flow-details spacing-top" id="answerFlow">Verzenden</a>
</div>

<h3 class="text-center spacing-top">Hier is vervolgens informatie die u kan helpen</h3>
@*
<div id="flowInfo" class="row spacing-top"></div>
*@
<div class="accordion row spacing-top" id="infoAccordion"> </div>


@section Scripts
{
    <script src="~/js/Flow/flow.js" defer></script>
}