@using Phygital.Domain.Datatypes
@using Phygital.Domain.Questionsprocess;
@model Flow

@{
    ViewBag.Title = "Flow Process";
    Layout = "_Layout";
}

<div id="flowId" class="white-text">@Model.Id</div>
<h2 class="text-center">Antwoord op volgende vragen alstublieft</h2>
@{
    if (@Model.FlowType == Flowtype.linear)
    {
        //data-bs-ride="carousel" dit van onder weg zodat de carousel nie beweegt
        <div id="linearFlow" class="carousel slide spacing-top" >
            
            <div class="carousel-inner">
                <div id="questions"></div>
            </div>
            <div class="progress">
                <div id="progressBar" class="progress-bar yellow-color" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="row">
                <div class="col text-start">
                    <button id="prevBtn" class="btn btn-warning btn-flow-details spacing-top" data-bs-target="#linearFlow" data-bs-slide="prev">Terug</button>
                </div>
                <div class="col text-end">
                    <button id="nextBtn" class="btn btn-warning btn-flow-details spacing-top" data-bs-target="#linearFlow" data-bs-slide="next">Verder</button>
                </div>
            </div>
        </div>
    } else if (@Model.FlowType == Flowtype.circular)
    {
        <div id="timer" class="timer clock ">30</div>
        
        <div id="circularFlow" class="carousel slide spacing-top" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div id="questions"></div>
            </div>
            <div class="progress">
                <div id="progressBar" class="progress-bar yellow-color" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="row">
                <div class="col text-start">
                    <button id="prevBtn" class="btn btn-warning btn-flow-details spacing-top" data-bs-target="#circularFlow" data-bs-slide="prev">Terug</button>
                </div>
                <div class="col text-end">
                    <button id="nextBtn" class="btn btn-warning btn-flow-details spacing-top" data-bs-target="#circularFlow" data-bs-slide="next">Verder</button>
                </div>
            </div>
        </div>
    }
    
}

@*succes message for user*@
<div id ="end-box" class="text-dark-emphasis"></div>
<div class="text-center">
        <a asp-controller="Endpage" asp-action="Index" class="btn btn-warning btn-flow-details spacing-top" id="answerFlow">Verzenden</a>
</div>

<h3 class="text-center spacing-top">Hier is vervolgens informatie die u kan helpen</h3>

<div class="accordion row spacing-top" id="infoAccordion"> </div>


@section Scripts
{   
    @*modules zijn automatisch defered*@
    <script type="module" src="~/js/Flow/cookingDetails.js" ></script>
    @{
        if (Model.FlowType == Flowtype.linear)
        {
            <script type="module" src="~/js/Flow/physical.js" ></script>
        }
        else
        {
            <script type="module" src="~/js/Flow/circular.js" ></script>
        }
    }
   
}