@using Phygital.Domain.Questionsprocess;
@model Flow

@{
    ViewBag.Title = "Flow Process";
    Layout = "_Layout";
}


<h2>Please answer these questions!</h2>
<div id="flowId">@Model.Id</div>

@*<div id="questionCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div id="singleChoiceQuestions"> 
        </div>
        <!-- Carousel items will be added here -->
    </div>
    <button id="prevBtn" class="btn btn-warning">Previous</button>
    <button id="nextBtn" class="btn btn-warning">Next</button>
</div>*@
<div id="singleChoiceQuestions"> 
        </div>
<div id="openFlowElementId">
</div>
<div id="rangeQuestions">
</div>
<div id="multipleChoiceQuestions"></div>



<a  asp-controller="Endpage" asp-action="Index" class="btn btn-warning">Send in</a>

@section Scripts
{
    <script src="~/js/Flow/flow.js" defer></script>
}
