@using Phygital.Domain.Questionsprocess;
@model Flow

@{
    ViewBag.Title = "Flow Process";
    Layout = "_Layout";
}

<h2>Please answer these questions!</h2>
<div id="flowId">@Model.Id</div>

<div id="flowElementId"> 
</div>
<div id="openFlowElementId">
</div>
<div id="rangeQuestions"></div>



<a  asp-controller="Endpage" asp-action="Index" class="btn btn-warning">Send in</a>

@section Scripts
{
    <script src="~/js/Flow/flow.js" defer></script>
}
