@using Phygital.Domain.Questionsprocess;
@model IEnumerable<Flow>

@{
    ViewBag.Title = "Phytical";
    Layout = "_Layout";
}
<h2>Welcome here is info</h2>
<div id="subThemasFlowElementId">
    </div>

<table class="table">
    <thead>
    <tr>
        <th>id</th><th>type</th>
    </tr>
    </thead>
    @{
        foreach (var flow in Model)
        {
            <tr>
                <td id="flowId">@flow.Id</td>
                <td>@flow.FlowType</td>
                <td><a  asp-controller="Flow" asp-action="Details" asp-route-id="@flow.Id" class="btn btn-primary">Continue</a></td>
            </tr>
        }
    }
</table>

@section Scripts
{
    <script src="~/js/Flow/flow.js" defer></script>
}

