@page
<!-- This is the page where the open questions get displayed, this page contains a title (Question), 
some information about the question, a textfield for the user to put in his answer and a button to submit -->


@{
    ViewBag.Title = "Phytical";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="align-content-center p-4">Vraag "Vraagtext"</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="container-fluid p-2">
            <div class="row">
                <h3 class="align-content-center p-3">Enter you answer here</h3>
            </div>
            <div class="row align-content-center">
                <div class="col p-2">
                    <input type="text">
                </div>
            </div>
            <div class="col p-2">
                <a type="button" class="btn btn-warning" asp-area="" asp-controller="Flow" asp-action="Index">Ga verder</a>
            </div>
        </div>
    </div>
</div>