@page
@model Phygital.UI_MVC.Views.Questions.AddQuestion

@{
    ViewBag.Title = "Phygital";
    Layout = "_Layout";
}

<!-- This page displays some elements to create an openquestion -->

<div class="text-center">
    <h3 class="align-content-center p-4">Maak hier je vraag aan</h3>
    <div class="container-fluid">
        <form class="row">
            <div class="col-12 d-flex justify-content-center">
                
                <div>
                    @*<label asp-for="FlowId">Flow waar het toebehoort</label>
                    <select asp-for="FlowId" asp-items="@(ViewBag.highest)" class="form-control"></select>
                    <span asp-validation-for="FlowId" class="text-danger"></span>*@
                    <div>@(ViewBag.Highest)</div>
                </div>

                <label class="input-group-text border border-warning mb-3" for="TypeSelect">Selecteer het type vraag</label>
                <select type="text" class="form-select border border-warning mb-3" id="TypeSelect" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                    <option value="open">Open</option>
                    <option value="range">Range</option>
                    <option value="multiplechoice">Multiple Choice</option>
                    <option value="singlechoice">Single Choice</option>
                </select>
                <div class="col-lg-6 text-start fw-bold">
                    <div class="input-group mb-3">
                        <label class="input-group-text border border-warning mb-3" for="ThemaSelect">Thema</label>
                        <select type="text" class="form-select border border-warning mb-3" id="ThemaSelect">
                        </select>
                    </div>
                    <div>
                        <input type="text" id="QuestionTitle" class="form-control border border-warning mb-3" placeholder="Vul hier de vraag in">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text border border-warning">
                            <input class="form-check-input border border-warning" type="checkbox" value="" id="ActiveCheckbox">
                        </div>
                        <label class="form-check-label" for="ActiveCheckbox">Actief</label>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-2">
                <div class="row align-content-center">
                    <div class="col d-flex justify-content-end">
                        <a type="button" class="btn btn-warning" asp-controller="Question" asp-action="Index">Annuleer</a>
                    </div>
                    <div class="col d-flex justify-content-start">
                        <a type="button" class="btn btn-warning" id="submitQuestion" asp-controller="Question" asp-action="Index" >Maak question aan</a>
                    </div>
                </div>
            </div>

            <div class="col text-center mt-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                    Show More Options
                </button>
            </div>

            @* hidden options *@
            <section class="collapse" id="collapse">
                <div class="card card-body spacing-top">
                    <button id="OptionButton" type="button" class="btn btn-primary">Voeg option toe</button>
                    <input type="text" id="OptionTitle" class="form-control border border-warning mb-3" placeholder="Vul hier de option in">
                    <p>test</p>
                </div>
            </section>
        </form>
    </div>
</div>


@section Scripts
{
<script src="~/js/Questions/Creation/Question.js" defer></script>
}