html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/******************* FLOW DETAILS CSS *******************/
.white-text {
  color: #ffffff;
}

.yellow-progress-bar {
  background-color: #ffc107;
}

.spacing-top {
  margin-top: 20px;
}

.center-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-flow-details {
  width: 125px;
  border-radius: 8px;
}