@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="text-center">
    <h2 class="align-content-center p-4">Bedankt voor het deelnemen aan de bevraging</h2>
    
    
    <div align="center">
        <h4>Mede mogelijk gemaakt door</h4>
        <img src="images/vlaamseOverheidBanner.jpg" alt="vlaamseOverheidBanner" width="250">
        <img src="images/levuurBanner.jpg" alt="levuurBanner" width="250">
        <img src="images/TreeCompanyBanner.png" alt="treeCompanyBanner" width="250">
    </div>

</div>